.sn-phm2 {
  position: absolute;
  top: 723px;
  left: 56px;
  font-size: 48px;
}
.sn-phm-child {
  position: absolute;
  top: 798px;
  left: 0;
  width: 1440px;
  height: 1px;
}
.nguyn-ci-chn-trang-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: -100%;
  left: 0;
  background-color: rgba(192, 112, 112, 0.38);
}
.cng-ty-tnhh {
  position: absolute;
  top: 85.22%;
  left: 18.26%;
}
.hoa-ti {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.cy-cnh {
  margin: 0;
}
.hoa-ti-hoa-container,
.sn-phm3 {
  position: absolute;
  top: 37.79%;
  left: 0;
}
.sn-phm3 {
  top: 0;
  color: var(--color-black);
}
.hoa-ti-hoa-len-cy-cnh-parent {
  position: absolute;
  height: 33.01%;
  width: 8.13%;
  top: 15.36%;
  right: 66.53%;
  bottom: 51.63%;
  left: 25.35%;
  color: var(--color-gray-200);
}
.image-15-icon {
  position: absolute;
  height: 50.39%;
  width: 100%;
  top: 49.61%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thanh-ton-parent {
  position: absolute;
  height: 24.76%;
  width: 12.57%;
  top: 14.97%;
  right: 45.14%;
  bottom: 60.27%;
  left: 42.29%;
}
.image-16-icon,
.vn-chuyn {
  position: absolute;
  top: 0;
  left: 0;
}
.image-16-icon {
  height: 66.67%;
  width: 100%;
  top: 33.33%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vn-chuyn-parent {
  position: absolute;
  height: 36.85%;
  width: 12.57%;
  top: 14.97%;
  right: 10.63%;
  bottom: 48.18%;
  left: 76.81%;
}
.facebook {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.facebook-instagram-youtube-container {
  position: absolute;
  top: 0;
  left: 25.49%;
}
.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 18.7%;
  width: 14.3%;
  top: 1.71%;
  right: 85.7%;
  bottom: 79.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2 {
  width: 14.31%;
  top: 41.03%;
  right: 85.69%;
  bottom: 40.27%;
}
.vector-icon2 {
  height: 14.25%;
  width: 15.49%;
  top: 80.34%;
  right: 84.51%;
  bottom: 5.41%;
}
.facebook-instagram-youtube-parent {
  position: absolute;
  height: 65.36%;
  width: 70.18%;
  top: 34.64%;
  right: 29.36%;
  bottom: 0;
  left: 0.46%;
  color: var(--color-gray-200);
}
.theo-di-chng-ti-parent,
.vector-icon3 {
  position: absolute;
  height: 79.91%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 20.09%;
  left: 0;
}
.vector-icon3 {
  height: 9.06%;
  width: 11.47%;
  top: 88.39%;
  right: 88.07%;
  bottom: 2.54%;
  left: 0.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitter {
  position: absolute;
  top: 195px;
  left: 31px;
  font-weight: 200;
}
.group-div {
  position: absolute;
  height: 42.99%;
  width: 15.14%;
  top: 15.36%;
  right: 25.42%;
  bottom: 41.65%;
  left: 59.44%;
}
.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.logo,
.thin-ng-cc {
  position: absolute;
  top: 107px;
  left: 41px;
}
.logo {
  top: 70px;
  left: 122px;
  width: 180px;
  height: 180px;
  font-size: 11px;
  font-family: var(--font-gemunu-libre);
}
.nguyn-ci-chn-trang {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.cm-t-cu-child,
.footer,
.nguyn-ci-chn-trang {
  position: absolute;
  left: 0;
}
.footer {
  top: 2991px;
  width: 1440px;
  height: 521px;
  font-size: var(--font-size-5xl);
}
.cm-t-cu-child {
  top: 630px;
  width: 345px;
  height: 630px;
}
.b1 {
  font-weight: 700;
}
.b,
.b2 {
  margin: 0;
  color: var(--mu-ng-nhp);
}
.b2 {
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.cm-t-cu-container,
.image-4-icon {
  position: absolute;
  top: 469px;
  left: 15px;
}
.image-4-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cm-t-cu,
.cm-t-cu2,
.plus-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 435px;
}
.cm-t-cu,
.plus-square {
  top: 4px;
  height: 630px;
}
.plus-square {
  top: 469px;
  background-color: var(--color-gray-100);
  width: 24.87px;
  height: 25px;
  overflow: hidden;
}
.singel-mom-flower-child {
  position: absolute;
  top: 630px;
  left: 35.81px;
  width: 343.19px;
  height: 630px;
}
.mu-n-400000hoa-container {
  position: absolute;
  top: 469px;
  left: 50.73px;
  display: inline-block;
  width: 314.34px;
}
.mu-n1 {
  position: absolute;
  top: 4px;
  left: 33px;
  width: 343px;
  height: 435px;
}
.plus-square1,
.singel-mom-flower {
  position: absolute;
  top: 2px;
  left: 326px;
  width: 379px;
  height: 630px;
}
.plus-square1 {
  top: 469px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 24.8px;
  height: 25px;
  overflow: hidden;
}
.tulip-trng-child {
  position: absolute;
  top: 630px;
  left: 35.72px;
  width: 342.28px;
  height: 630px;
}
.tulip-trng-1500000b-container {
  position: absolute;
  top: 471px;
  left: 49px;
  display: inline-block;
  width: 323.43px;
}
.tulip-trng2 {
  position: absolute;
  top: 0;
  left: 37px;
  width: 342px;
  height: 435px;
}
.plus-square2,
.tulip-trng {
  position: absolute;
  top: 4px;
  left: 685px;
  width: 379px;
  height: 630px;
}
.plus-square2 {
  top: 469px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.tulip-hng-child {
  position: absolute;
  top: 630px;
  left: 32px;
  width: 345px;
  height: 630px;
}
.tulip-hng-470000b-container,
.tulip-hng2 {
  position: absolute;
  top: 469px;
  left: 47px;
}
.tulip-hng2 {
  top: 11px;
  left: 32px;
  width: 341px;
  height: 428px;
}
.cm-t-cu-parent,
.tulip-hng {
  position: absolute;
  top: 0;
  left: 1063px;
  width: 377px;
  height: 630px;
}
.cm-t-cu-parent {
  top: 844px;
  left: 0;
  width: 1440px;
  height: 634px;
  font-size: var(--font-size-11xl);
}
.cc-ha-mi-child {
  position: absolute;
  top: 630px;
  left: 36px;
  background-color: var(--mu-hng-sn-phm);
  width: 345px;
  height: 630px;
}
.cc-ha-mi-container {
  position: absolute;
  top: 469px;
  left: 60px;
}
.cc-ha-mi,
.cc-ha-mi2 {
  position: absolute;
  top: 0;
  left: 47px;
  width: 345px;
  height: 443px;
}
.cc-ha-mi {
  left: 0;
  width: 392px;
  height: 630px;
}
.hoa-hng-trng-container {
  position: absolute;
  top: 469px;
  left: 54px;
  display: inline-block;
  width: 229px;
  height: 169px;
}
.hoa-hng-trng,
.hoa-hng-trng2 {
  position: absolute;
  top: 0;
  left: 35px;
  width: 342px;
  height: 443px;
}
.hoa-hng-trng {
  left: 735px;
  width: 381px;
  height: 638px;
}
.hoa-baby-tm {
  margin: 0;
  color: var(--color-black);
}
.b17 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.hoa-baby-tm-container {
  position: absolute;
  top: 469px;
  left: 53px;
  display: inline-block;
  width: 225px;
  height: 136px;
}
.baby-tm {
  position: absolute;
  top: 0;
  left: 32px;
  width: 345px;
  height: 443px;
}
.baby,
.vintage-child {
  position: absolute;
  height: 630px;
}
.baby {
  top: 0;
  left: 369px;
  width: 381px;
  color: var(--color-gray-500);
}
.vintage-child {
  left: 32px;
  background-color: var(--mu-hng-sn-phm);
  width: 345px;
}
.set-hoa-len-container1 {
  position: absolute;
  top: 469px;
  left: 56px;
}
.cc-ha-mi-parent,
.vintage {
  position: absolute;
  top: 0;
  left: 1099px;
  width: 377px;
  height: 634px;
}
.cc-ha-mi-parent {
  top: 1478px;
  left: -45px;
  width: 1476px;
  height: 638px;
  font-size: var(--font-size-11xl);
}
.plus-square7 {
  position: absolute;
  top: 470px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 25.2px;
  height: 25px;
  overflow: hidden;
}
.hng-pink-child {
  position: absolute;
  top: 631px;
  left: 36.28px;
  width: 347.72px;
  height: 630px;
}
.hng-pink-150000b-container {
  position: absolute;
  top: 469px;
  left: 60px;
  display: inline-block;
  width: 316.47px;
}
.image-11-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -0.86%;
  bottom: 0;
  left: 0.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.hng-pink,
.hng-pink2 {
  position: absolute;
  top: 0;
  left: 42px;
  width: 347.72px;
  height: 443px;
}
.hng-pink {
  left: 0;
  width: 389.72px;
  height: 631px;
}
.set-hoa-gu-child {
  position: absolute;
  top: 630px;
  left: 36px;
  width: 345px;
  height: 630px;
}
.blank-line9 {
  margin: 0;
  font-size: var(--font-size-9xl);
}
.set-hoa-lengu-container {
  position: absolute;
  top: 462px;
  left: 53px;
}
.len-gu,
.set-hoa-gu {
  position: absolute;
  top: 0;
  left: 32px;
  width: 345px;
  height: 440px;
}
.set-hoa-gu {
  top: 4px;
  left: 368px;
  width: 381px;
  height: 630px;
}
.linh-an,
.linh-lan-1000000b-container {
  position: absolute;
  top: 469px;
  left: 55px;
}
.linh-an {
  top: 3px;
  left: 29px;
  width: 345px;
  height: 443px;
}
.linh-lan,
.plus-square10 {
  position: absolute;
  top: 1px;
  left: 734px;
  width: 377px;
  height: 630px;
}
.plus-square10 {
  top: 470px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.sen-child {
  top: 631px;
  left: 32px;
  background-color: var(--mu-hng-sn-phm);
  width: 345px;
  height: 630px;
}
.sen-kim-container {
  position: absolute;
  top: 466px;
  left: 62px;
}
.hng-pink-parent,
.sen {
  position: absolute;
  top: 3px;
  left: 1099px;
  width: 377px;
  height: 631px;
}
.hng-pink-parent {
  top: 2116px;
  left: -45px;
  width: 1476px;
  height: 634px;
  font-size: var(--font-size-11xl);
}
.sn-phm-inner,
.sn-phm-item {
  position: absolute;
  top: 1435px;
  left: 4.99px;
  width: 149.01px;
  height: 2.02px;
}
.sn-phm-inner {
  top: 2064px;
  left: 5.99px;
}
.line-icon,
.sn-phm-child1,
.sn-phm-child2,
.sn-phm-child3 {
  position: absolute;
  top: 2706px;
  left: 15px;
  width: 180.01px;
  height: 1.98px;
}
.sn-phm-child1,
.sn-phm-child2,
.sn-phm-child3 {
  top: 2701px;
  left: 369px;
}
.sn-phm-child2,
.sn-phm-child3 {
  top: 2706px;
  left: 740px;
}
.sn-phm-child3 {
  top: 2705px;
  left: 1110px;
}
.sn-phm-child4,
.sn-phm-child5 {
  position: absolute;
  top: 2065px;
  left: 372.99px;
  width: 149.01px;
  height: 2.02px;
}
.sn-phm-child5 {
  top: 2066.01px;
  left: 737px;
}
.sn-phm-child6,
.sn-phm-child7,
.sn-phm-child8,
.sn-phm-child9 {
  position: absolute;
  top: 2066.5px;
  left: 1109px;
  width: 149.01px;
  height: 2.02px;
}
.sn-phm-child7,
.sn-phm-child8,
.sn-phm-child9 {
  top: 1434px;
  left: 376.99px;
}
.sn-phm-child8,
.sn-phm-child9 {
  top: 1435px;
  left: 732.99px;
}
.sn-phm-child9 {
  top: 1434px;
  left: 1101.99px;
}
.nhp-email-child,
.nt-ng-k-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1440px;
  height: 200px;
}
.nt-ng-k-item {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--mu-ng-nhp);
}
.ng-k3,
.nt-ng-k1 {
  position: absolute;
  top: 20%;
  left: 32.74%;
}
.nt-ng-k1 {
  top: 75px;
  left: 1138px;
  width: 281px;
  height: 50px;
}
.nhn-khuyn-mi {
  position: absolute;
  top: 82px;
  left: 43px;
  font-size: var(--font-size-11xl);
  color: #141414;
}
.ng-k-nhn-container {
  position: absolute;
  top: 82px;
  left: 377px;
  color: var(--color-black);
  display: inline-block;
  width: 367px;
}
.nhp-email-item {
  position: absolute;
  top: 75px;
  left: 740px;
  background-color: #fcf9f9;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25) inset;
  width: 367px;
  height: 50px;
}
.nhp-email-ca {
  position: absolute;
  top: 87px;
  left: 757px;
  color: var(--color-gray-300);
}
.nhp-email {
  position: absolute;
  top: 2747px;
  left: 0;
  width: 1440px;
  height: 200px;
  font-size: var(--font-size-5xl);
  color: #fefbfb;
}
.rectangle-div {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 115px;
  height: 73px;
}
.div6,
.gim-gi,
.rectangle-div {
  position: absolute;
}
.gim-gi {
  top: 37px;
  left: 13px;
  display: inline-block;
  width: 83px;
  height: 25px;
}
.div6 {
  top: 7px;
  left: 33px;
  font-size: var(--font-size-6xl);
}
.rectangle-container,
.rectangle-parent1,
.rectangle-parent2 {
  position: absolute;
  top: 848px;
  left: 230px;
  width: 115px;
  height: 73px;
}
.rectangle-parent1,
.rectangle-parent2 {
  top: 1478px;
  left: 221px;
}
.rectangle-parent2 {
  top: 2116px;
  left: 224px;
}
.rectangle-parent3,
.rectangle-parent4,
.rectangle-parent5 {
  position: absolute;
  top: 2120px;
  left: 590px;
  width: 115px;
  height: 73px;
}
.rectangle-parent4,
.rectangle-parent5 {
  top: 2117px;
  left: 951px;
}
.rectangle-parent5 {
  top: 2120px;
  left: 1316px;
}
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  position: absolute;
  top: 1478px;
  left: 590px;
  width: 115px;
  height: 73px;
}
.rectangle-parent7,
.rectangle-parent8 {
  left: 956px;
}
.rectangle-parent8 {
  left: 1316px;
}
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent9 {
  position: absolute;
  top: 848px;
  left: 590px;
  width: 115px;
  height: 73px;
}
.rectangle-parent10,
.rectangle-parent11 {
  top: 850px;
  left: 948px;
}
.rectangle-parent11 {
  top: 848px;
  left: 1325px;
}
.nt-lin-h-child,
.panner-c-ch-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.panner-c-ch-child {
  background-color: var(--color-gainsboro-100);
}
.nt-lin-h-child {
  border-radius: 20px;
  border: 3px solid var(--mu-ng-nhp);
  box-sizing: border-box;
}
.lin-h-t,
.nt-lin-h {
  position: absolute;
  top: 39.25%;
  left: 21.59%;
}
.nt-lin-h {
  height: 21.4%;
  width: 21.88%;
  top: 55.6%;
  right: 71.53%;
  bottom: 23%;
  left: 6.6%;
}
.panner-c-ch {
  position: absolute;
  top: 169px;
  left: 1px;
  width: 1440px;
  height: 500px;
  font-size: 26px;
  color: var(--mu-ng-nhp);
}
.nguyn-ci-menu-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 100px;
}
.emdao-1-icon {
  position: absolute;
  top: 1px;
  left: 195px;
  width: 106px;
  height: 99px;
  object-fit: cover;
}
.nguyn-ci-menu-item {
  position: absolute;
  top: 27px;
  left: 335px;
  border-radius: var(--br-11xl);
  background-color: rgba(217, 217, 217, 0.35);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25) inset;
  width: 730px;
  height: 46px;
}
.nguyn-ci-menu-inner {
  position: absolute;
  top: 27px;
  left: 1109px;
  background-color: var(--color-white);
  box-shadow: 0.5px 0.20000000298023224px 1px rgba(0, 0, 0, 0.25);
  width: 96px;
  height: 50px;
}
.tm-kim-sn {
  position: absolute;
  top: 38px;
  left: 370px;
  display: inline-block;
  width: 255px;
}
.nguyn-ci-menu1,
.thanh-menu-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 100px;
}
.thanh-menu-child {
  background-color: var(--mu-hng-mnh-m);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  height: 70px;
}
.trang-ch {
  position: absolute;
  top: 23px;
  left: 99px;
}
.hi-p,
.lin-h,
.sn-phm4,
.thanh-menu {
  position: absolute;
  top: 23px;
  left: 236px;
}
.hi-p,
.lin-h,
.thanh-menu {
  left: 355px;
}
.hi-p,
.thanh-menu {
  left: 458px;
}
.thanh-menu {
  top: 59px;
  left: 0;
  width: 1440px;
  height: 70px;
}
.icon-search,
.icon-shopping-basket,
.icon-user {
  position: absolute;
  top: 0;
  left: 995px;
  width: 17.9px;
  height: 17.9px;
  overflow: hidden;
}
.icon-shopping-basket,
.icon-user {
  left: 1144px;
  width: 25.21px;
  height: 28.81px;
}
.icon-shopping-basket {
  left: 1247px;
  width: 37.18px;
  height: 28.92px;
}
.nguyn-ci-menu,
.thanh-menu-parent {
  position: absolute;
  left: 0;
  width: 1440px;
}
.thanh-menu-parent {
  top: 41px;
  height: 129px;
  color: var(--color-white);
}
.nguyn-ci-menu {
  top: -1px;
  height: 170px;
  color: rgba(122, 125, 152, 0.6);
}
.sn-phm1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3512px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.from1,
.ng-nhp {
  position: absolute;
}
.from1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.ng-nhp {
  height: 10.79%;
  width: 41.14%;
  top: 18.72%;
  left: 29.54%;
  font-size: var(--font-size-17xl);
  display: inline-block;
  color: var(--color-black);
}
.khung-email-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1) inset;
}
.email1,
.khung-email {
  position: absolute;
  top: 31.67%;
  left: 4.35%;
}
.khung-email {
  height: 10.12%;
  width: 77.64%;
  top: 29.51%;
  right: 11.39%;
  bottom: 60.37%;
  left: 10.97%;
}
.khung-mt-khu-item {
  position: absolute;
  height: 23.9%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 76.1%;
  left: 0;
  background-color: var(--color-gainsboro-200);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1) inset;
}
.mt-khu,
.nt-ng-nhp-child {
  position: absolute;
  top: 7.57%;
  left: 4.35%;
}
.nt-ng-nhp-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--mu-hng-mnh-m);
}
.ng-nhp1 {
  position: absolute;
  height: 40%;
  width: 53%;
  top: 31.67%;
  left: 23.5%;
  display: inline-block;
}
.nt-ng-nhp {
  position: absolute;
  height: 23.9%;
  width: 54.35%;
  top: 76.1%;
  right: 23.37%;
  bottom: 0;
  left: 22.28%;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.khung-mt-khu1 {
  position: absolute;
  height: 42.33%;
  width: 77.64%;
  top: 45.03%;
  right: 11.39%;
  bottom: 12.65%;
  left: 10.97%;
}
.bn-cha-c,
.bn-qun-mt {
  position: absolute;
  width: 48.73%;
  top: 57.67%;
  left: 10.97%;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  display: inline-block;
}
.bn-cha-c {
  top: 62.73%;
}
.from-ng-nhp {
  position: relative;
  width: 474px;
  height: 593px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--mu-xm-ch-in);
  font-family: var(--font-inter);
}
.image-6-icon {
  position: absolute;
  height: 76.22%;
  width: 27.98%;
  top: 2.28%;
  right: 72.02%;
  bottom: 21.5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.tulip-hng-hoa-ti {
  margin: 0;
}
.tulip-hng-hoa-ti-container {
  position: absolute;
  top: 81.11%;
  left: 0;
  white-space: pre-wrap;
}
.div,
.div1 {
  position: absolute;
  top: 3.26%;
  left: 34.78%;
}
.div1 {
  top: 3.91%;
  left: 83%;
}
.group-child,
.group-item {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.group-child {
  height: 90.69%;
  top: 0;
  bottom: 9.31%;
  background-color: var(--color-snow-100);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.group-item {
  height: 37.17%;
  top: 25.07%;
  bottom: 37.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div2 {
  position: absolute;
  height: 100%;
  width: 26.39%;
  top: 0;
  left: 37.91%;
  display: inline-block;
}
.group-parent {
  position: absolute;
  height: 82.13%;
  width: 79.12%;
  top: 17.87%;
  right: 9.89%;
  bottom: 0;
  left: 10.99%;
}
.rectangle-parent,
.sn-phm-c {
  position: absolute;
  color: var(--color-gray-300);
}
.rectangle-parent {
  height: 12.76%;
  width: 9.43%;
  top: 0;
  right: 33.23%;
  bottom: 87.24%;
  left: 57.34%;
  text-align: center;
}
.sn-phm-c {
  top: 47px;
  left: 369px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 198px;
  height: 31px;
}
.hng-sn-phm {
  position: absolute;
  height: 35.17%;
  width: 93.5%;
  top: 11.11%;
  right: 2.75%;
  bottom: 53.72%;
  left: 3.76%;
}
.sn-phm-c1 {
  position: absolute;
  top: 493px;
  left: 395px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  display: inline-block;
  width: 198px;
  height: 31px;
}
.div3,
.set-hoa-len-container {
  position: absolute;
  top: 81.35%;
  left: 0;
}
.div3 {
  top: 4.5%;
  left: 34.78%;
}
.div4,
.rectangle-group {
  position: absolute;
  top: 4.18%;
  left: 83%;
}
.rectangle-group {
  height: 12.6%;
  width: 9.43%;
  top: 0;
  right: 33.54%;
  bottom: 87.4%;
  left: 57.03%;
  text-align: center;
  color: var(--color-gray-300);
}
.hng-sn-phm1 {
  position: absolute;
  height: 35.62%;
  width: 93.5%;
  top: 50.86%;
  right: 2.75%;
  bottom: 13.52%;
  left: 3.76%;
}
.gi,
.s-lng,
.sn-phm,
.tm-tnh {
  position: absolute;
  top: 0;
  left: 35.43%;
}
.s-lng,
.sn-phm,
.tm-tnh {
  left: 0;
}
.s-lng,
.tm-tnh {
  left: 58.43%;
}
.tm-tnh {
  left: 84.57%;
}
.gi-hng-child,
.hng-trn {
  position: absolute;
  height: 3.32%;
  width: 91.76%;
  top: 5.61%;
  right: 4.48%;
  bottom: 91.07%;
  left: 3.76%;
}
.gi-hng-child {
  height: 0.33%;
  width: 96.24%;
  top: 9.62%;
  right: 0;
  bottom: 90.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gi-hng-inner,
.gi-hng-item {
  position: absolute;
  height: 0.11%;
  width: 5.78%;
  top: 95.36%;
  right: 74.21%;
  bottom: 4.52%;
  left: 20.01%;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.gi-hng-inner {
  width: 96.39%;
  top: 87.46%;
  right: -0.07%;
  bottom: 12.43%;
  left: 3.68%;
}
.icon-times,
.image-7-icon {
  position: absolute;
  left: 26px;
}
.image-7-icon {
  top: 455px;
  width: 186px;
  height: 239px;
  object-fit: cover;
}
.icon-times {
  top: 24px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.tng-1050000 {
  position: absolute;
  top: 0;
  left: 0;
}
.tng-1050000-wrapper {
  position: absolute;
  top: 785px;
  left: 26px;
  width: 132px;
  height: 18px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.nt-thanh-ton-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e03f3f;
}
.nt-thanh-ton,
.thanh-ton {
  position: absolute;
  top: 32.65%;
  left: 16%;
}
.nt-thanh-ton {
  top: 804px;
  left: 563px;
  width: 125px;
  height: 49px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.nt-tip-tc-xem-sp-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fcf7f7;
  border: 1px solid var(--mu-ng-nhp);
  box-sizing: border-box;
}
.tip-tc-xem {
  position: absolute;
  top: 34.69%;
  left: 2.86%;
}
.nt-tip-tc-xem-sp-item {
  position: absolute;
  height: 15.03%;
  width: 14.57%;
  top: 72.08%;
  right: 80.57%;
  bottom: 12.89%;
  left: 4.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nt-tip-tc-xem-sp {
  position: absolute;
  top: 804px;
  left: 26px;
  width: 175px;
  height: 49px;
  text-align: center;
  font-size: 13px;
  color: var(--mu-ng-nhp);
}
.gi-hng {
  position: relative;
  background-color: #fdf8f8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 692px;
  height: 873px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
